*{
  background-color: rgb(31, 31, 31);
  color: beige;
}
/* componente header */
nav{
  padding: 0 !important;
  margin: 15px auto !important;
}
.logoPokemon{
  width: 150px;
}
.dropdown-menu{
  padding: 0 !important;
}
.dropdown-item{
  background-color: beige;
}
.pokemon_list{
  margin-top: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.img_card{
  box-shadow: 1px 1px 20px rgb(238, 196, 118);
  width: 200px;
}
.data_Card{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
}

/* Componente Loading */
.container_loading{
  margin-top: 150px;
  width: auto;
  height: calc(100vh - 64px);
  gap: 60px;
}

/* Componente PokemonCardList */

.container_button{
  position: fixed;
}
.container_button button{
  border: 0px solid beige;
  border-radius: 35px;
  font-size: 28px;
  background-color: beige;
  padding: 0;
  cursor: pointer;
}
.container_button button a{
  background-color: beige;
  text-decoration: none;
  color: black;
}

/* PokemonCardDetail */

.card_detail_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card_detail_container img{
  width: 250px;
}
.conteiner_left{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container_right{ 
  justify-content: center;
  text-align: center;
}
.button_detail{
  display: flex;
  flex-direction: row;
  margin: 20px;
}
span{
  font-weight: bold;
  color: rgb(238, 196, 118);
}
.img_detail{
  box-shadow: 1px 1px 20px rgb(238, 196, 118);
}
.img_logo_Card{
  width: 150px !important;
}
.logo_energy{
  width: 30px !important;
}
h3{
  border-top: 5px beige solid;
}